{% extends "layout.html" %}
{% block content %}

<table cellspacing="0" class="table">
    <thead>
        <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>VAT</th>
            <th>Action</th>
        </tr>
    </thead>
	<tbody>
		{% for product in result %}
        <tr>
			<td>{{product.barCode}}</td>
			<td>{{product.name}}</td>
			<td>{{product.vat}}</td>
			<td><a class="btn btn-mini" href="/product/add/{{product.barCode}}"><i class="icon-plus"></i></a></td>
		</tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}
