{% extends "layout.html" %}
{% block content %}

<form class="form-horizontal" method="POST">
    <legend>Add product</legend>
	<div class="control-group">
		<label class="control-label">Barcode</label>
		<div class="controls">
			<span class="input-xlarge uneditable-input">{{product['product_id']}}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<span class="input-xlarge uneditable-input">{{product['name']}}</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Price</label>
		<div class="controls">
			<input type="text" id="price" name="price" value="{{product['price']}}">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Discount</label>
		<div class="controls">
			<input type="text" id="discount" name="discount" value="{{product['discount']}}">
		</div>
	</div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Update product</button>
        </div>
    </div>
</form>
{% endblock %}
