<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Salesman Interface</title>
    <link media="all" href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link media="all" href="/static/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper" class="conatiner">
		<div id="topbar">
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <a class="brand" href="/">Salesman</a>
                    <ul class="nav">
                        <li class="active"><a href="/products">Products</a></li>
                    </ul>
                </div>
            </div>
		</div>
        <div id="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashed-messages alert alert-block">
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
        </div>
        {% endif %}
        {% endwith %}
		{% block content %}{% endblock %}
        </div>
	</div>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
</body>
</html>
