{% extends 'layout.html' %}
{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Barcode</th>
			<th>Name</th>
			<th>Price</th>
			<th>Discount</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<td>{{product[0]}}</td>
			<td>{{product[1]}}</td>
			<td>{{product[2]}}</td>
			<td>{{product[3]}}</td>
			<td>
				<a class="btn btn-mini btn-success" href="/product/edit/{{product[0]}}"><i class="icon-pencil"></i></a>
				<a class="btn btn-mini btn-danger" href="/product/delete/{{product[0]}}"><i class="icon-trash"></i></a>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div id="buttonbar" class="btn-group">
	<a class="btn" href="/catalog/search"><i class="icon-book"></i>Fetch from catalog</a>
</div>
{% endblock %}
