{% extends "layout.html" %}
{% block content %}
<form method="GET">
	<fieldset>
		<legend>Fetch product</legend>
		<label>Product name</label>
		<input name="product" type="text" placeholder="name, tag or barcode...">
		<span class="help-block">Enter a product name, a tag or a barcode</span>
		<button type="submit" class="btn">Fetch products</button>
	</fieldset>
</form>
{% endblock %}
