{% extends "layout.html" %}
{% block content %}

<table cellspacing="0" class="table">
    <caption>Durr</caption>
    <thead>
        <tr>
            <th>Barcode</th>
            <th>Name</th>
            <th>VAT</th>
            <th>Action</th>
        </tr>
    </thead>
	<tbody>
        <tr>
			<td>product.barCode</td>
			<td>product.name</td>
			<td>product.vat</td>
			<td><a class="btn btn-mini" href="#"><i class="icon-pencil"></i></a></td>
		</tr>
    </tbody>
</table>

{% endblock %}
